#OS specific files
.DS_Store

#Modules (react dependencies)
/node_modules/
.node_modules
.next/
.next
*.next

#environmental files
.env
.env.local
.env.*.local
venv/


#Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

#Flask-related files (e.g., SQLite database)
*.db
*.h2.db
*.sqlite3

#IDE-specific files
.vscode/
/.idea

#logs
*.log


